.chat-app {
    background-color: #333;
    color: white;
    height: 100%;
}

.server-status {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff4c4c;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
  
    .offline-message {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

.online {
    display: flex;
    height: 100%;
}

.rooms {
    width: 20%;
    height: 95%;
    background-color: #444;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
        h2 {
            font-size: 1.5em;
            margin-bottom: 0.5em;
        }
    
        ul {
            list-style: none;
            padding: 0;
        }
    
        li {
            padding: 0.5em;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-bottom: 0.1em;
            border-radius: 0.5em;
        }
    
        li:hover, li.active {
            background-color: #666;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        label {
            font-size: 1.2em;
            word-wrap: break-word;
        }

        input {
            padding: 0.5em;
            font-size: 1.2em;
            width: 100%;
            background-color: #555;
            border: none;
            border-radius: 0.5em;
            color: #fff;
        }
    }
}

.chat {
    width: 65%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: space-between;

    h2 {
        font-size: 2em;
    }

    .messages {
        overflow-y: auto;
        padding: 1em;
        border-radius: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        flex-grow: 1;
    }

    .message {
        background-color: #444;
        padding: 0.75em 1em;
        border-radius: 0.5em;
        margin-bottom: 1em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;

        strong {
            font-weight: bold;
            color: #ddd;
        }

        span {
            color: #eee;
        }
    }

    .system-message {
        background-color: #333;
        text-align: center;
        font-style: italic;
        color: #bbb;
        font-weight: bold;
        border: 1px solid #555;
    }

    input {
        padding: 0.5em;
        font-size: 1.2em;
        width: 100%;
        background-color: #555;
        border: none;
        border-radius: 0.5em;
        color: #fff;
    }
      
    input:focus {
        outline: none;
        border-color: #888;
    }
}

.online-users {
    width: 15%;
    background-color: #444;
    padding: 1.5em;
    display: flex;
    flex-direction: column;

    ul {
        list-style: none;
        padding: 0;
    }
}