.system-info {
  background-color: #333;
  padding: 1.5em;
  height: 100%;

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.5em;
      font-size: 1.5em;

      strong {
        font-weight: bold;
      }
    }
  }
}