.list-enter-from {
    opacity: 0;
    transform: translateX(400px);
}

.list-leave-to {
    opacity: 0;
    transform: translateX(400px);
}

.list-enter-active, .list-leave-active {
    transition: all 1s;
}

.notifications-list {
    position: fixed;
    width: 300px;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    z-index: 999;

    .notification {
        min-height: 100px;
        padding: 1px 20px;
        color: white;
        opacity: 1;
        margin-bottom: 15px;
        border-radius: 15px;

        .before-icons {
            position: relative;
            width: 0;
            height: 0;
            top: 17px;
            font-size: 20px;
        }
    
        .close-btn {
            position: relative;
            margin-left: 250px;
            top: 10px;
            cursor: pointer;
        }
    
        h2, h3 {
            position: relative;
            background-color: transparent;
        }

        h2 {
            margin-top: -2px;
            width: 100px;
            left: 30px;
        }

        h3 {
            margin: 10px 0px 10px 0px;
        }
    }
}

.notification.success {
    background-color: #4caf50;
}

.notification.error {
    background-color: #f44336;
}

.notification.information {
    background-color: #2196f3;
}

.notification.warning {
    background-color: #ff9800;
}