.window {
    position: absolute;
    border: 0.125em solid #ccc;
    border-radius: 0.3125em;
    background: #f3f3f3;
    overflow: hidden;
    font-family: Arial, sans-serif;
    max-width: 60%;
    max-height: 100vh;
    resize: both;
    transform-origin: center;
    transition: transform 0.5s ease, opacity 0.3s ease;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #0078d7;
        color: white;
        padding: 0.625em;
        font-weight: bold;
        border-bottom: 0.0625em solid #ccc;

        .icon-name {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }

        &-title {
            margin: 0;
            font-size: 0.875em;
        }

        .buttons {
            display: flex;
            gap: 0.5em;
        
            .btn {
                border: none;
                border-radius: 0.1875em;
                color: white;
                cursor: pointer;
                font-weight: bold;
                padding: 0.2em 0.7em;
                font-size: 0.75em;
                line-height: 1.25em;
                position: relative;
            }
        
            .btn.maximize {
                background: #5cb85c;
        
                &:hover {
                    background: #4cae4c;
                }

                .span-foreground {
                    position: relative;
                    z-index: 2;
                }

                .span-background {
                    position: absolute;
                    top: -0.1em;
                    right: 0.3em;
                    z-index: 1;
                }
            }
        
            .btn.minimize {
                background: #f0ad4e;
        
                &:hover {
                    background: #ec971f;
                }
            }
        
            .close {
                background: #ff5f57;
        
                &:hover {
                    background: #e0534e;
                }
            }
        }
    }

    &-body {
        color: black;
        font-size: 1.5em;
        padding: 0.625em;
        overflow: auto;
        max-height: 100%;

        .description a {
            color: #007BFF;
            text-decoration: underline;
        }
        
        .license-input {
            margin-top: 1em;
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }
        
        .validate-button {
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        
        .validate-button:hover {
            background-color: #0056b3;
        }
    }
}