.kernel-panic {
    color: white;
    font-family: monospace;
    text-align: center;
    padding: 2em;

    h1 {
        font-size: 2em;
        margin-bottom: 1.5em;
    }

    .code {
        margin: 2em;
        text-align: left;
        display: inline-block;
        padding: 1em;
        background-color: #222;
        border: thin solid #555;

        p {
            padding: 0.5em;
        }
    }
}