.about {
    margin: 50px;
    height: 100%;

    .personal, .languages, .socials {
        margin-top: 20px;
        
        h2 {
            margin-bottom: 5px;
        }
    }

    h1, h2, h3 {
        color: white;
        
        a {
            color: white;
            text-decoration: none;
        }
    }
}