@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
  background: url('https://i.pinimg.com/originals/3c/35/f1/3c35f1197ba68a804ab0e7cd0dcc54f0.png')!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
}

.snow1 {
  background: url('https://raw.githubusercontent.com/Madhav52/CSS-Snowfall-Animation-Effects/master/snow.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: animate1 10s infinite linear;
}

.snow2 {
  background: url('https://raw.githubusercontent.com/Madhav52/CSS-Snowfall-Animation-Effects/master/snow.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: animate2 10s infinite linear;
  background-size: 300px;
  z-index: -1;
  filter: blur(1px);
}

.snow3 {
  background: url('https://raw.githubusercontent.com/Madhav52/CSS-Snowfall-Animation-Effects/master/snow.png');
  background-repeat: repeat;
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: animate3 10s infinite linear;
  background-size: 800px;
  filter: blur(2px);
}

@keyframes animate1 {
  0%
  {
    background-position: 0px 0px;
  }
  100%
  {
    background-position: 100px 635px;
  }

}

@keyframes animate2 {
  0%
  {
    background-position: 0px -100px;
  }
  100%
  {
    background-position: 0px 635px;
  }

}

@keyframes animate3 {
  0%
  {
    background-position: 0px 100px;
  }
  100%
  {
    background-position: 300px 635px;
  }

}
