footer {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    bottom: 0;

    h2 {
        color: white;

        a {
            text-decoration: none;
            color: white;
        }
    }
}