.index {
  margin: 50px;

  h1, h2, h3 {
    color: white;
  }

  .divs {
    display: flex;
    margin-top: 50px;
  }

  .terminal {
    background-color: black;
    color: limegreen;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    overflow-y: auto;
    height: 400px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .prompt {
    color: limegreen;
    margin-right: 5px;
  }
  
  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: limegreen;
    width: 100%;
    font-size: 16px;
  }
  
  .output {
    margin-bottom: 8px;
  }

  .music-player {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 15px;
    align-self: flex-end;
  
    &-track {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      img {
        width: 150px;
        height: 150px;
        margin-right: 25px;
        border-radius: 5px;
      }
  
      &-info {
        display: flex;
        flex-direction: column;

        .time {
          margin-top: 5px;
          color: black;
        }
  
        .title {
          min-width: 230px;
          font-size: 30px;
          font-weight: bold;
          color: black;
        }
  
        .artist {
          font-size: 20px;
          color: black;
        }

        .slider-music {
          margin-top: 10px;
          width: 80%;
          height: 4px;
          background: #ddd;
          outline: none;
          opacity: 0.7;
        }
      }

      &-volum {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        width: 0;

        .slider-volume {
          rotate: 270deg;
          margin-top: -20px;
          width: 100px;
          height: 4px;
          background: #ddd;
          outline: none;
          opacity: 0.7;
        }

        button {
          position: relative;
          color: black;
          font-size: 20px;
          rotate: 270deg;
          top: 60px;
          cursor: pointer;
          background: none;
          border: none;
          transition: color 0.2s;
  
          &:hover {
            color: greenyellow;
          }
  
          &:disabled {
            color: #ccc;
            cursor: not-allowed;
          }
        }
      }
    }
  
    &-controls {
      display: flex;
      justify-content: center;
  
      .buttons {
        display: flex;
  
        button {
          background: none;
          border: none;
          margin: 0 10px;
          font-size: 30px;
          color: black;
          cursor: pointer;
          transition: color 0.2s;
  
          &:hover {
            color: greenyellow;
          }
  
          &:disabled {
            color: #ccc;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

@media(max-width: 1000px) {
  .divs {
    flex-direction: column;
  }

  .index .music-player {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media(max-width: 500px) {
  .index .terminal {
    max-width: 300px;
  }

  .index .music-player {
    max-width: 250px;

    &-controls {
      .buttons {
        button {
          font-size: 20px;
        }
      }
    }
  }

  .index .music-player-track {
    img {
      width: 50px;
      height: 50px;
    }

    &-info {
      .title {
        font-size: 20px;
        min-width: 150px;
      }

      .artist {
        font-size: 15px;
      }
    }

    &-volum {
      .slider-volume {
        margin-top: 25px;
        width: 80px;
      }
    }
  }
}