.index {
  margin: 50px;

  h1, h2, h3 {
    color: white;
  }

  .divs {
    display: flex;
    margin-top: 50px;
  }

  .terminal {
    background-color: black;
    color: limegreen;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    overflow-y: auto;
    height: 400px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  .prompt {
    color: limegreen;
    margin-right: 5px;
  }
  
  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: limegreen;
    width: 100%;
    font-size: 16px;
  }
  
  .output {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media(max-width: 1000px) {
  .divs {
    flex-direction: column;
  }
}

@media(max-width: 500px) {
  .index .terminal {
    max-width: 300px;
  }
}