.chat-app {
    background-color: #333;
    color: white;
    height: 100%;
    display: flex;
}

.rooms {
    width: 20%;
    background-color: #444;
    padding: 1.5em;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding: 0.5em;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 0.1em;
        border-radius: 0.5em;
    }

    li:hover, li.active {
        background-color: #666;
    }
}

.chat {
    width: 65%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: space-between;

    h2 {
        font-size: 2em;
    }

    .messages {
        overflow-y: auto;
        padding: 1em;
        border-radius: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        flex-grow: 1;
    }

    .message {
        margin-bottom: 1em;
    }

    .system-message {
        text-align: center;
        font-style: italic;
        color: #bbb;
        font-weight: bold;
    }

    input {
        padding: 0.5em;
        font-size: 1.2em;
        width: 100%;
        background-color: #555;
        border: none;
        border-radius: 0.5em;
        color: #fff;
    }
      
    input:focus {
        outline: none;
        border-color: #888;
    }
}

.online-users {
    width: 15%;
    background-color: #444;
    padding: 1.5em;
    display: flex;
    flex-direction: column;

    ul {
        list-style: none;
        padding: 0;
    }
}