.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  
    &-track {
        display: flex;
        align-items: center;
        margin-bottom: 1.25em;
  
        img {
            width: 9.375em;
            height: 9.375em;
            margin-right: 1.5625em;
            border-radius: 0.3125em;
        }
    
        &-info {
            display: flex;
            flex-direction: column;
    
            .time {
                margin-top: 0.3125em;
                color: black;
            }
    
            .title {
                min-width: 14.375em;
                font-size: 1.875em;
                font-weight: bold;
                color: black;
            }
    
            .artist {
                font-size: 1.25em;
                color: black;
            }
    
            .slider-music {
                margin-top: 0.625em;
                width: 80%;
                height: 0.25em;
                background: #ddd;
                outline: none;
                opacity: 0.7;
            }
        }
    
        &-volum {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .slider-volume {
                rotate: 270deg;
                margin-top: -1.25em;
                width: 6.25em;
                height: 0.25em;
                background: #ddd;
                outline: none;
                opacity: 0.7;
            }
    
            button {
                position: relative;
                color: black;
                font-size: 2em;
                rotate: 270deg;
                top: 2em;
                cursor: pointer;
                background: none;
                border: none;
                transition: color 0.2s;
    
                &:hover {
                    color: greenyellow;
                }
    
                &:disabled {
                    color: #ccc;
                    cursor: not-allowed;
                }
            }
        }
    }
  
    &-controls {
        display: flex;
        justify-content: center;
  
        .buttons {
            display: flex;
    
            button {
                background: none;
                border: none;
                margin: 0 0.625em;
                font-size: 2em;
                color: black;
                cursor: pointer;
                transition: color 0.2s;
    
                &:hover {
                    color: greenyellow;
                }
        
                &:disabled {
                    color: #ccc;
                    cursor: not-allowed;
                }
            }
        }
    }
}