.settings {
    padding: 1.25em;
    background: #333;
    height: 100%;

    h1, h2 {
        margin-bottom: 1em;
    }

    section {
        margin-bottom: 1.5em;
    }

    label {
        display: block;
        margin-bottom: 0.5em;
        font-weight: bold;
    }

    input[type="text"], input[type="file"] {
        margin-bottom: 0.75em;
        width: 100%;
        padding: 0.5em;
        border: 0.0625em solid #ddd;
        border-radius: 0.25em;
    }

    button {
        padding: 0.5em 1em;
        background: #007bff;
        color: #fff;
        border: none;
        border-radius: 0.25em;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: #0056b3;
        }
    }
}
