.terminal {
    background-color: black;
    color: limegreen;
    padding: 1.5em;
    overflow-y: auto;
    height: 50em;
    flex: 1;
}
  
.input-container {
    display: flex;
    align-items: center;
}
  
.prompt {
    color: limegreen;
    margin-right: 0.3125em;
}
  
input {
    background-color: transparent;
    border: none;
    outline: none;
    color: limegreen;
    width: 100%;
    font-size: 1em;
}
  
.output {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}